window {
	margin: 0;
	background-color: rgba(0, 0, 0, 0);
}

#input {
	border: none;
	border-radius: 0;
	color: #f8f8f2;
	background-color: #6272a4;
}

#inner-box {
}

#outer-box {
	margin: 20px;
	border: 1px solid #6272a4;
	background-color: #282a36;
}

#text {
	margin: 5px;
	color: #f8f8f2;
} 

#entry:selected {
	background-color: #6272a4;
	outline: none;
	border-radius: 0;
}

#entry:selected #text {
	background-color: #6272a4;
}
